# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/
build/
dist/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing / coverage
coverage/
.nyc_output

# Misc
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
